*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/import
/app/src/test/java/com/syncodec/graphite/test
/captures
.externalNativeBuild
.cxx
local.properties
./tiptap/node_modules/*
