
@font-face {
	font-family: 'atwriter';
	src: url('./font/atwriter.ttf') format('truetype');
}

@font-face {
	font-family: 'overlock';
	src: url('./font/overlock_regular.ttf') format('truetype');
}

@font-face {
	font-family: 'source_sans_pro';
	src: url('./font/source_sans_pro_regular.ttf') format('truetype');
}

@font-face {
	font-family: 'ubuntu';
	src: url('./font/ubuntu.ttf') format('truetype');
}

body {
	padding: 8px 32px 8px 8px;
}

.ProseMirror {
	height: 480px;
	border: 0px solid #000000;
}

.ProseMirror:focus {
	outline: #000000;
	height: 480px;
}

.ProseMirror p {
	margin: 1em 0;
	width: 100%;
	height: fit-content;
}

.bold-style {
	font-weight: bold;
}

.italic-style {
	font-style: italic;
}

blockquote {
	font-style: normal;
	margin-left: 8px;
	border-left: 4px solid #CCC;
	border-radius: 4px;
	padding-left: 8px;
}

input[type=checkbox] {
	display: block;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
	font-family: 'Arial'
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]+span:before {
	content: "";
	border: 0.13em solid #71717171;
	border-radius: 0.13em;
	display: block;
	margin: 0;
	width: 0.71em;
	height: 0.71em;
	color: transparent;
	transition: .2s;
}

input[type=checkbox]:checked+span:before {
	background-color: #71717171;
	border-color: #71717171;
}


input[type=checkbox]:checked:disabled+span:before {
	transform: scale(1);
	background-color: #F7C28F;
	border-color: #F7C28F;
}

ul[data-type="taskList"] {
	list-style: none;
	padding: 0;
}

ul[data-type="taskList"] p {
	margin: 0;
}

ul[data-type="taskList"] li {
	display: flex;
}

ul[data-type="taskList"] li>label {
	flex: 0 0 auto;
	margin-right: 0.5rem;
	user-select: none;
}

ul[data-type="taskList"] li>div {
	flex: 1 1 auto;
}

#title {
	width: 100%;
	background-color: #71717171;
	border: 0;
	border-radius: 4pt;
	padding: 8px 10px 8px 10px;
}
