<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.syncodec.graphite">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<application
		android:name="com.syncodec.graphite.Graphite"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher"
		android:supportsRtl="false"
		android:theme="@style/Theme.Graphite">

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="${mapsApiKey}" />

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.syncodec.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_provider_path">
			</meta-data>
		</provider>

		<activity
			android:name="com.syncodec.graphite.MainActivity"
			android:exported="true"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="com.syncodec.graphite.searchComponent.SearchActivity"
			android:exported="false"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.todayComponent.TodayActivity"
			android:exported="false"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.noteComponent.NoteActivity"
			android:exported="false"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.bucketComponent.BucketActivity"
			android:exported="false"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.bucketItemComponent.BucketItemActivity"
			android:exported="false"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.notebookComponent.NotebookActivity"
			android:exported="false"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.attachmentComponent.AttachmentActivity"
			android:exported="false"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.settingsComponent.SettingsActivity"
			android:exported="false"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>

		<activity
			android:name="com.syncodec.graphite.premiumComponent.PremiumActivity"
			android:exported="false"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Graphite.NoActionBar">
		</activity>
	</application>
</manifest>
