/* .tiptap {
    width: max-content;
    height: max-content;
} */

body {
    height: 100%;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror p {
    margin: 1em 0;
    width: max-content;
    height: max-content;
}

.bold-style {
    font-weight: bold;
}

.italic-style {
    font-style: italic;
}

/* .underline-style {
    font-style: ;
} */
