.bold-style {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

div {
    white-space: pre-line;
    background-color: lightgreen;
    color: black;
    font-size: 25px;
}